@import 'https://use.fontawesome.com/releases/v5.7.2/css/all.css';
@import 'https://use.typekit.net/zhu6gge.css';

:root {
  --main-color: #424e52;
  --secondary-color: #89bbcc;
  --accent-color: #bcc0c2;
  --dark-accent-color: #8b8e8f;
  --light-accent-color: #dce1e3;
}

body {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: continuo, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  background-image: url('../img/hero-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: var(--secondary-color);
  color: var(--light-accent-color);
}

.navbar {
  color: var(--light-accent-color);
}
